<div class="container vh-100">
    <div class="d-flex justify-content-center align-items-end h-25">
        <img src="assets/images/logo.png" class="h-75">
    </div>
    <div class="d-flex flex-column justify-content-center align-content-center h-75 ">
        <input type="text" id="name" placeholder="YOUR NAME" class="text-center mb-3 color_input">
        <input type="text" id="org" placeholder="ORGANIZATION" class="text-center mb-3 color_input">
        <input type="text" id="city" placeholder="CITY" class="text-center mb-3 color_input">
        <input type="text" id="issue" placeholder="TYPE OF ISSUE" class="text-center mb-3 color_input">
        <input type="text" id="msg" placeholder="MESSAGE" class="text-center mb-3 color_input ">
        <button class="color_blue mb-3"><a href="#" class="text-light">LOGIN</a></button>
        <button class="color_red mb-3"><a href="#" class="text-light">SIGN UP</a></button>
    </div>
</div>