<div class="container vh-100">
    <div class="d-flex justify-content-center align-items-center h_40  pb-3">
        <img src="assets/images/logo.png" class="h-75">
    </div>

    <div class="d-flex justify-content-center align-items-center h_40 pb-3">
        <div class="card">
        <div class="card-body">
            THANK YOU FOR REGISTERING WITH FOODIS. AN AUTOMATIC EMAIL HAS BEEN SENT TO AUTHENTICATE YOUR EMAIL ID. THE ADMIN TEAM WILL REVIEW THE APPLICATION AND GET BACK TO YOU IN NEXT 48 HOURS.
        </div>
    </div>
    </div>
    
    <div class="d-flex flex-column justify-content-center  h_20 ">
        <button class="color_blue mb-3"><a routerLink="/login" class="text-light">LOGIN</a></button>
        <button class="color_red mb-3"><a routerLink="/signup" class="text-light">SIGN UP</a></button>
    </div>
</div>